@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Sans+KR&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Sans+KR&family=Single+Day&display=swap');

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}







*{

    /* 전체 css 공통 부분 */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'IBM Plex Sans KR', sans-serif;

}
.side-banner-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1500px;
}

.banner-container {
    overflow: hidden;
    width: 100%;
    height: 450px;


}
/* 푸터 하단 고정을 위한 css */
.header-main-container {
    height: auto;
    /* 추후에 min-height값은 조정해야함 */
    min-height: 100vh;
    padding-bottom: 160px;
}

