@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
.container{
    width: 100%;
    margin-top: 50px;
    /* border: 2px solid black; */
    /* background-color: antiquewhite; */
    /*main 페이지를 전체 두르는 태그*/
} 

.product-chicken-page{
    margin: 0 auto;
    width: 1024px;
    /* border: 1px solid black; */
    /*product-page를 두르는 태그 -> 페이지 너비 고정값으로 지정*/
}

.page-top{
    margin: 0px;
    /* border: 1px solid black; */
    /*카테고리 이름 단락, 전체단락과 띄우기*/
}

.page-top .page-name{
    width: 150px;
    height: 50px;
    /* text-align: center; */
    line-height: 50px;
    /* font:IBM; */
    margin-top: 10px;
    padding-left: 20px;
    /* border: 1px solid black; */
    /*카테고리 이름이 들어간 태그, 전체 표의 좌측에 보일수 있게 설정*/
}

.product-inter{
    /* border: 1px solid black; */
    margin-top: 30px;
    width: 1024px;
    padding: 5px;
    box-sizing: border-box;
}

.product-list{
    
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid black; */
    list-style-type: none;
}

.list-info{
    margin: 10px;
    width: 300px;
    /* border: 1px solid black; */
}

.list{

    /* border: 1px solid black; */
}

.list img{
    /* border: 5px solid red; */
    border-radius: 3%;
    width: 100%;
    height: 100%;
}

.list-name-top .list-name-bottom {
    margin-top: 3px;
}

.list-name-top>span{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color: chocolate;
}

.list-name-bottom{
    float: right;
    font-size: 15px;
    /* border: 1px solid red; */
    
}

.list-price{
    /* border: 1px solid red; */
    margin-top: 20px;
    padding-left:230px;
}

.pageing{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.page-box{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    width: 50px;
}

.page-box>li>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

.arrow{ 
    margin: 0 20px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

