
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

main{
    display: block;
    height: 100%;
}

a{  
    text-align: center;
    text-decoration: none;
    color: black;
}

.board-container{
    display: flex;
    margin :30px auto ;
    background-color: #f7f7f7;
    width: 1024px;
    height: 1000px;
    border: 1px solid black;
}


.board-main{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 80%;
    height: 90%;
    margin:10px auto;
    border: 1px solid black;
}

.board-title{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    margin-bottom: 30px;
}

.title-text{
    font-size: 40px;
    margin-left:30px;
}

.title-text-sub{
    font-size: 15px;
    margin-left:30px;
}

.board-list{
    width: 93%;
    margin: 0 auto;
    border-top:2px solid black;
}

.board-list > div.top{
    padding-top: 10px 10px;
    border-bottom:1px solid #999;
    display: flex;
}

.board-list > div.top > .num{
    font-size: 20px;
}

.board-list > div {
    display: flex;
}
