
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

main{
    display: block;
    height: 100%;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
}

textarea{
    resize: none;
    padding: 10px;
    margin-right: 5px;
}

.board-container{
    display: flex;
    margin :30px auto ;
    width: 1024px;
    height: 100%;
    min-height: 450px;
}

.board-main{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    min-height: 400px;
    margin:10px auto;
}

.board-title{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 70px;
}

.title-text{
    font-size: 40px;
    margin-left:30px;
    color: rgb(202, 56, 46);
}

.title-text-sub{
    font-size: 15px;
    margin-left:30px;
}

.password-check-container{
    border-top: 2px solid rgb(202, 56, 46);
    width: 93%;
    margin: 0 auto;
}

.password-check-box{
    border: 3px solid rgb(202, 56, 46);
    width: 300px;
    height: 175px;
    margin:70px auto 0;
}
.password-check-box-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 90px;
    margin: 40px auto 0;
}

.password-check-box-inner > .content-password{
    background: #f3f3f3;
    border: 1px solid #cecdce;
    margin-top: 5px;
    width: 150px;
}

.password-check-box-inner >b{
    color: rgb(202, 56, 46);
}

.inner-btnBox{
    width: 90%;
    display: flex;
    margin-top:10px
}

.inner-btnBox > .cancle{
    width: 48%;
    height: 30px;
    border: none;
    font-size: 12px;
    color: white;
    background-color: #666666;
    cursor: pointer;
}

.inner-btnBox > .admit{
    width: 48%;
    margin-left: auto;
    border: none;
    font-size: 12px;
    color: white;
    background-color: rgb(202, 56, 46);
    cursor: pointer;
}