
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

main{
    display: block;
    height: 100%;
}

a{  
    text-align: center;
    text-decoration: none;
    color: black;
}
.text > h4{
    font-size: 15px;
}
p{
    font-size:12px;
}
.myPage-container{
    display: flex;
    margin :30px auto ;
    width: 1024px;
    height: 100%;
    min-height: 550px;
}

.sidemenu{
    width: 190px;
    height: 90%;
    min-height: 530px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #E6E6E6;
}

.side-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 60px;
    border-top: 1px solid #eee;
    margin-bottom: 10px; 
}

.side-item:first-child{
    border: none;
}

.content-text{
    font-size: 23px;
    margin: 0 auto;
}

.content-text.on{
    color: rgb(202, 46, 46);
}

/* .myPage-title{
    display: flex;
    width: 700px;
    height: 50px;
    border-bottom:1px solid black;
} */

.myPage-title{
    display: flex;
    width: 300px;
    height: 70px;
    color: rgb(202, 46, 46);
}

.title-text{
    font-size: 30px;
    margin-left:30px
}

.myPage-main{
    display: flex;
    flex-direction: column;
    top:12%;
    left: 31%;
    width: 790px;
    min-height:550px;
    height:100%;
    margin-top: 10px;
    margin-right: 10px;
}

/* .myPage-main-contents{
    background-color:bisque;
    display: flex;
    width: 500px;
    margin: 0 45px;
    height: 150px;
    padding: 50px 100px;
} */

.myPage-main-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .inner{
    padding: 0 90px;
    width:310px;
    border:1px solid black;
} */

.inner{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 300px;
    height: 175px;
    align-items: center;
    padding-top: 100px;
    border: 3px solid rgb(202, 46, 46);
}

.inner > .text{
    margin-right: 35px;
}

.input-box{
    display: flex;
    margin-top: 10px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.input-password{
    width: 280px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.input-btn{
    height: 54px;
    width: 52px;
    border: none;
    background-color: rgb(94, 190,231);
    color: white;
}

.password-check-container{
    border-top: 2px solid rgb(202, 56, 46);
    width: 93%;
    margin: 0 auto;
}

.password-check-box{
    border: 3px solid rgb(202, 56, 46);
    width: 300px;
    height: 175px;
    margin:70px auto 0;
}
.password-check-box-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 90px;
    margin: 40px auto 0;
}

.password-check-box-inner > .content-password{
    background: #f3f3f3;
    border: 1px solid #cecdce;
    margin-top: 5px;
    width: 150px;
}

.password-check-box-inner >b{
    color: rgb(202, 56, 46);
}

.inner-btnBox{
    width: 90%;
    display: flex;
    margin-top:10px
}

.inner-btnBox > .cancle{
    width: 48%;
    height: 30px;
    border: none;
    font-size: 12px;
    color: white;
    background-color: #666666;
    cursor: pointer;
}

.inner-btnBox > .admit{
    width: 48%;
    margin-left: auto;
    border: none;
    font-size: 12px;
    color: white;
    background-color: rgb(202, 56, 46);
    cursor: pointer;
}