
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

main{
    display: block;
    height: 100%;
}

a{  
    text-align: center;
    text-decoration: none;
    color: black;
}

.myPage-container{
    display: flex;
    margin :30px auto ;
    background-color: #f7f7f7;
    width: 1024px;
    height: 1000px;
    border: 1px solid black;
}

.sidemenu{
    width: 190px;
    height: 800px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

.side-item{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 70px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.side-item:hover{
    background-color: rgb(94, 190,231);
}

.content-text{
    font-size: 25px;
    margin : 0 auto 0;
}

.myPage-title{
    display: flex;
    width: 300px;
    height: 70px;
}

.title-text{
    font-size: 30px;
    margin-left:30px
}

.myPage-main{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    top:12%;
    left: 31%;
    width: 790px;
    height: 820px;
    margin-top: 10px;
    margin-right: 10px;
}

.myPage-main-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 95%;
    height: 150px;
}

.product-img-box{
    border: 1px solid black;
    width: 200px;
    height: 140px;
    margin: 5px 0 0 5px;
}

.product-img{
    width: 200px;
    height: 140px;
}

.product-info{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    margin: 5px 5px 5px auto;
    text-align: right;
}

.cancle-btn-box{
    display: flex;
    margin :auto 5px 5px auto;
}

.cancle-btn{
    border: none;
    background-color: rgb(94, 190,231);
    color: white;
}