.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.pwfind-container {
    background-color:rgb(255, 255, 255);
    width: 1024px;
    height: 100%;
}

.pwfind-area {
    width: 420px;
    height: auto;
    margin: 0 auto;
}

.pwfind-greeting {
    padding-top: 100px;
    font-size: 32px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
}

.input-text input{
    width : 416px;
    height: 40px;
    margin-bottom: 10px;
}

.button-submit button{
    width : 100%;
    height: 40px;
    margin-top: 15px;  
    background-color: RGB(94,190,231);
    border: 0px solid white;
    font-weight: 700;
    cursor: pointer;
}

.login-back button{
    width : 100%;
    height: 40px;
    margin-top: 15px;  
    background-color: RGB(94,190,231);
    border: 0px solid white;
    font-weight: 700;
    cursor: pointer;
}

h2 {
    margin-top: 50px;
    margin-bottom: 40px;  
    text-align: center;
}





