.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.login-container {
    background-color: rgb(255, 255, 255);
    width: 1024px;
    
}

.login-area {
    width: 500px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
}

.login-area-section {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    border: 1px solid rgb(177, 177, 177);
    padding: 40px 40px 40px 40px;
    text-align:center;
    display: flex;
    justify-content: center;
}

.login-greeting {
    padding-top: 100px;
    font-size: 32px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;   
}

#login_form{
    display: flex;
    width: 400px;
    height: 600px;   
    flex-direction: column;
    text-align: center;
}
.input-group { 
    height: 400px;   
}

.input-text {   
    width: 100%;
}
.input-text input{
    width : 100%;
    height: 40px;
    margin-bottom: 30px;  
    border: 1px solid rgb(216, 216, 216); 
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;   
}

.input-text input:hover{
   background-color: #eaecff; 
}

.input-text p{
    font-size: 10px;
    text-align: left;
}

.button-login button{
    width : 300px;
    height: 40px;
    margin-top: 15px;  
    background-color: #fbe300;
    cursor: pointer;
}

.input-group{
    height: 100px;   
    display: table;
    border-collapse: collapse;  
}

.button-kakaologin button{
    width : 100%;
    height: 50px;
    margin-top: 40px;
    background-color: #fbe300;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    border: 0px;
    border-radius : 5px;
}

.button-QR button{
    width : 100%;
    height: 50px; 
    background-color: rgb(223, 223, 223);
    cursor: pointer;
    font-weight: 700;
    border: 0px;
    border-radius : 5px;
}

.hr-sect {
    display: flex;    
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 8px 8px;
  }

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    line-height: 0px;
    margin: 16px 16px;
  }

.button-found button{
    width : 70px;
    height: 40px;
    margin-top: 20px;  
    margin-left: 10px;
    font-size: 10px;
    float: right;
    cursor: pointer;
    font-weight: 700;
    border: 0px;
}

.button-found button:last-child {
    float: left; 
    margin-left: 10px;
}
