.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.login-container {
    width: 1024px;
    height: 100%;
    background-color: rgb(250, 250, 250);
}

.login-area {
    width: 420px;
    height: 700px;
    margin: 0 auto;
    border: 0px solid black;
}

.login-greeting {
    padding-top: 100px;
    font-size: 32px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
}

.input-text input{
    width : 416px;
    height: 40px;
    margin-bottom: 10px;
}

.button-login button{
    width : 100%;
    height: 40px;
    margin-top: 15px;  
    background-color: RGB(94,190,231);
    cursor: pointer;
    border: 0px solid black;
    font-weight: 700;
}

.input-group{
    height: 100px;   
    display: table;
    border-collapse: collapse;  
}

.button-found button{
    width : 70px;
    height: 40px;
    margin-top: 50px;  
    margin-left: 10px;
    font-size: 10px;
    float: right;
    cursor: pointer;
    border: 1px solid rgb(177, 177, 177);
    font-weight: 700;
}

.button-kakaologin button{
    width : 100%;
    height: 50px;
    margin-top: 40px;
    background-color: #fbe300;
    cursor: pointer;
    border: 0px solid black;
}

.button-signup button{
    width : 100%;
    height: 50px;
    margin-top: 10px;
    background-color: RGB(94,190,231);
    cursor: pointer;
    border: 0px solid black;
    font-weight: 700;
}


