.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.signupselect-container {
    width: 1024px;
    height: 650px;
    background-color: rgb(255, 255, 255);   
}
.input-group{
    height: 400px;
}
.signupselect-area {
    width: 420px;
    height: auto;
    margin: 0 auto;
    border: 0px solid #000000;
    text-align: center;
}

.signupselect-greeting {
    padding-top: 100px;
    font-size: 32px;
    color: #000;
    font-weight: 500;
    margin-bottom: 100px;
    border: 0px solid darkblue;
}

.button-normal-section {
    width : 200px;
    height: 150px;
}

.button-normal {
    display: block;
    width : 200px;
    height: 150px;
    background-color: RGB(94,190,231);
    font-weight: 700;
    margin: 0 auto;
    font-size: 17px;
    border-radius : 6px;
}

.button-normal a {  display: flex;
    justify-content: center;
    align-items: center;
    width : 200px;
    height: 150px;
    color: #000;
}

.button-kakao {   
    width: 100%;
    height: 100px;
}


.button-kakao img {
    width : 200px;
    height: 60px;
    margin-top: 15px; 
}







