.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.signup-container {
    width: 1024px;
    height: 700px;
    background-color: rgb(255, 255, 255);  
}

.signup-area {
    width: 420px;
    height: auto;
    margin: 0 auto;

}

.signup-greeting {
    padding-top: 100px;
    font-size: 32px;
    color: #000;
    font-weight: 500;
    margin-bottom: 30px;
}

.input-group{
    height: 100px;   
    display: table;
    border-collapse: collapse;  
}


.input-text input{
    width : 416px;
    height: 50px;   
    margin-bottom: 20px;
}

#id_request {
    background-color: RGB(94,190,231);
    color: #000000;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 11px;
    transition: background-color 0.3s ease;
}

#id_request:hover {
    background-color: #33aeff;
}

.input-text span{
    font-size: 11px;
    margin-top: 0px;
}

.button-signup button{
    width : 30%;
    height: 40px;
    margin-top: 15px;  
    background-color: RGB(94,190,231);
    cursor: pointer;
    float: right;
    font-weight: 700;
    border: 0px;
    color: #000000;
}

.email input{
    width:128px; 
}

                  
.email select{
    padding:15px; 
    width:130px; 
    vertical-align:middle
}

#PostCodeSearch {
    background-color: RGB(94,190,231);
    color: #000000;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 11px;
    transition: background-color 0.3s ease;
}


