@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic+Coding:wght@700&family=Nanum+Pen+Script&family=Open+Sans&family=Roboto+Slab:wght@600&display=swap');
.container{
    width: 100%;
    margin-top: 50px;
  
}

.product-buy-page{
    margin: 0 auto;
    width: 1024px;
    position: relative;
}

.product-info-top{
    display: flex;
    justify-content: space-around;
}

.product-info-top-left{
    margin-top: 50px;
}

.product-img img{
    width: 400px;
    height: 480px;
    border-radius: 10px;
}
.product-info-top-right{
    
    margin-top: 50px;
    width: 600px;
}

.product-name .title{
    display: flex;
}

.title h1:first-child{
    width: 150px;
}

.title h1:last-child{
    margin-left: 5px;
    width: 100%;
}

.product-name p{
    font-size: 18px;
    padding: 5px 0 8px;
    color: #333;
}
.price{
    margin-top: 10px;

    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    padding: 10px 0;
}

.price span{
    display: inline-block;
    margin: 10px;
}
.price span:first-child{
    color: #999;
    font-size: 15px;
}
.price span:last-child{
    font-size: 25px;
    color: #262626;
}

.product-name-detil{
    border-bottom: 2px solid #e8e8e8;
    height: 230px;
}

.detil1 ul{
    display: flex;  
} 

.detil1 ul li{
    padding: 10px;  
}

.detil1 ul li:last-child{
    color: #666;
}

.detil1 ul li{
    color: #999;
}

.detil2-ul{
    display: flex;
    padding: 10px;
}
.detil2-ul:first-child{
    color: #999;
}

.detil2-li{
    margin-top: -12px;
    margin-left: 6px;
}
.detil2-li-ul{
    padding: 10px;
    color: #666;
}

.detil3{
    margin-left: 10px;
}

.detil3-ul{
    display: flex;
    color: #999;
}

.detil3-li-ul li{
    margin-left: 11px;
}

.detil3-li-ul li:first-child{
    color: crimson;
}

.detil3-li-ul li:last-child{
    font-size: 13px;
    color: black;
}
.buy-set{
    height: 80px;
    
}
.buy-set form{
    display: flex;
    width: 100%;
    justify-content: right;
    font-size: 15px;
    padding-right: 50px;
    margin-top: 10px;

}


.product-quantity div:last-child{
    border: 1px solid #666;
    width: 70px;
}   

.number{
    display: inline-block;

    text-align: center;
    width: 20px;
}
.buy-set form div button{
    border: none;
    width: 20px;
    background-color: white;
    cursor: pointer;
}

.product-info {
   
    display: flex;
    justify-content: right;
}

.product-info div{
    border: 1px solid rgba(94,190,231);
    margin: 0 10px;
    width: 150px;
    height: 48px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: rgba(94,190,231);
    cursor: pointer;
}


.product-cart-movemodal{
    position: absolute;
    top : 400px;
    left: 300px;
    width: 400px;
    height: 80px;
    background-color: rgba(94,190,231,0.8);
    color: white;
    display: none;
    flex-direction: column;
}

.product-cart-movemodal div{
    
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}  

.product-cart-movemodal div:last-child{
    height: 50px;
    font-size: 13px;
    line-height: 80px;
}

.product_deteil_area{
    border-right:1px solid #999;
    border-left:1px solid #999;
    border-top:1px solid #999; 
    border-bottom:1px solid #999; 
    height: 2000px;
    overflow: hidden;
    margin-top: 20px;
}
.product_deteil_area p{
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}
.product_deteil_info{
    height: 100%;
    text-align: center;
}

.deteil_more{
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.deteil_more span{
    font-size: 25px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.material-symbols-outlined{
    box-sizing: border-box;
}